.why-us-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 50px;  /* Adjust top margin if needed */
  margin-left: 10%;
  margin-right: 10%;
}

.why-us-content {
  width: 250%;  /* Adjust width for left content */
  /* Add padding to create space between text and circles */
}
.why-us-container {
  display: flex;
  margin-bottom: 300px;
  margin-left: 30%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  height: 400px; /* Adjust as needed */
  width: 100%;
}
.why-us-content h1{
  font-size: 40px;
  
  font-weight:bolder;
 
  color:#d41e1e;
  margin-bottom:40px;

}

.why-us-content ul {
  list-style-type: none;
  font-size: large;
  color: #222;
  padding: 0;
}

.why-us-content li {
  margin-bottom: 15px;
}



.circle-container {
  position: relative;
  top:30%;
  width: 400px; /* Width and height for the circular container */
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-text {
  position: absolute;
  z-index: 10;
}

.center-text h1 {
  font-size: 36px;
  color: #222;
  font-weight: 700;
  margin: 0;
}

.circle {
  position: absolute;
  width: 140px; /* Adjust circle size */
  height: 140px; /* Adjust circle size */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #27aea9;
  color: white;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

/* Using CSS transform and rotate to position circles in a circular layout */
.circle:nth-child(1) {
  transform: rotate(0deg) translate(140px) rotate(0deg);
}

.circle:nth-child(2) {
  transform: rotate(60deg) translate(140px) rotate(-60deg);
}

.circle:nth-child(3) {
  transform: rotate(120deg) translate(140px) rotate(-120deg);
}

.circle:nth-child(4) {
  transform: rotate(180deg) translate(140px) rotate(-180deg);
}

.circle:nth-child(5) {
  transform: rotate(240deg) translate(140px) rotate(-240deg);
}

.circle:nth-child(6) {
  transform: rotate(300deg) translate(140px) rotate(-300deg);
}
.circle:nth-child(7) {
  transform: rotate(360deg) translate(140px) rotate(-360deg);
}

/* Responsive design */
@media screen and (max-width: 768px) {
  .why-us-container {
    height: auto;
  }

  .circle-container {
    width: 150px;
    height: 150px;
  }

  .circle {
    width: 100px;
    height: 100px;
  }
}
