.hero {
  background-image: url("../../../../public/images/s20.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  
  height: 90vh;
  width: 100%;
}
.hero .container {
  padding-top: 15%;
}
.hero h1 {
  color: rgba(255, 0, 0, 0.645);
  font-size: 35px;
  font-weight: bold;
  position: absolute; 
  top: 380px; 
  left: 50px; 
  margin: 0; 
  padding: 20px 15px; 
  background: rgb(255, 255, 255); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px); 
  /* border: 1px solid rgba(255, 255, 255, 0.3);  */
  /* border-radius: 10px; 
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  */
}

.hero p {
  color:#4b4645 ;
  margin-top: 10px;
  top: 435px; 
  left: 250px;
  position: absolute;
  opacity: 0.8;
}
