/* General Styles */
.body{
  margin-top: 0%;
}
.contact1 {
  margin-top: auto;
  padding: 20px 0;
  background-color: #f8f9fa;
}

.contact1 .container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.contact1 h2,
.contact1 h3 {
  margin-bottom: 20px;
}

.contact1 h4 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.contact1 p,
.contact1 a {
  font-size: 1rem;
  color: #555;
}

.contact1 a {
  text-decoration: none;
}

.contact1 a:hover {
  color: #d9534f;
}

.contact1 .address1, .contact1 .call-us, .contact1 .email {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}

.contact1 .address1 i, .contact1 .call-us i, .contact1 .email i {
  margin-right: 10px;
}

/* Form Styling */
.contact1 form {
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.contact1 form div {
  display: flex;
  gap: 20px;
}

.contact1 input,
.contact1 textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.contact1 textarea {
  resize: vertical;
}

.contact1 button {
  padding: 12px 30px;
  background-color: #2756ae;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact1 button:hover {
  background-color: #2186d0;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .contact1 form div {
    flex-direction: column;
  }

  .contact1 input,
  .contact1 textarea {
    width: 100%;
  }
}
