.footerContact {
  background-color: #2756ae;
  padding: 40px 0;
  color: #fff;
}

.footerContact h1 {
  font-size: 40px;
  margin: 0 0 10px;
}

footer {
  background-color: #1d2636;
  padding: 50px 0;
  color: #fff;
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

footer img {
  height: 50px;
  width: 100px;
}

footer h2 {
  font-weight: 400;
  margin-top: 20px;
}

footer .container p {
  color: #b0b3b8;
  margin: 20px 0 10px;
  max-width: 400px;
  text-align: justify;
}

footer .container h4 {
  margin-bottom: 50px;
}

footer .input {
  display: flex;
  gap: 10px;
}

footer input {
  background-color: #fff;
  padding: 15px;
  flex: 1;
  border: none;
  border-radius: 5px 0 0 5px;
  outline: none;
}

footer button {
  padding: 15px;
  border: none;
  background-color: #2756ae;
  color: white;
  font-weight: 500;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

footer button:hover {
  background-color: #193a8e;
}

footer h3 {
  font-weight: 500;
  padding-left: 40px;
  margin-bottom: 20px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  padding-left: 40px;
}

footer ul li {
  color: #e0e0e0;
  margin-bottom: 10px;
}

.legal {
  text-align: center;
  padding: 20px 10px;
  font-size: 14px;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 800px) {
  .footerContact h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 500px) {
  footer .container {
    grid-template-columns: 1fr;
  }

  .footerContact h1 {
    font-size: 28px;
  }

  footer input {
    padding: 10px;
  }

  footer button {
    padding: 10px;
  }

  .legal {
    font-size: 12px;
  }
}
